<% include header %>
<% include sidebar %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header">Dashboard</h1>
	<h2 class="sub-header">Recent Authentications</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>IP</th>
					<th>MAC Address</th>
					<th>Username</th>
					<th>Time</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% recent.forEach(function(row){ %>
					<tr>
						<td><%= row.ip %></td>
						<td><%= row.mac %></td>
						<td><%= row.username %></td>
						<td><%= row.time %></td>
						<td><a href="/manage/block/add?mac=<%= row.mac %>">Block</a></td>
					</tr>
				<% }); %>
			</tbody>
		</table>
	</div>
</div>
</div>
</div>
<% include footer %>